# 연관규칙 분석

In [2]:
#Machine Learning Extended 패키지 설치 
!pip install mlxtend

Requirement already satisfied: mlxtend in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (0.19.0)
Requirement already satisfied: numpy>=1.16.2 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.4.2)
Requirement already satisfied: pandas>=0.24.2 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.3.3)
Requirement already satisfied: joblib>=0.13.2 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: setuptools in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (8.3.1)
Requirement already satisfied: six in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/seonghyeonma/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [3]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
#리스트의 리스트 형태로 트랩잭션 구성 
dataset = [['빵','우유','씨리얼'],
           ['빵','기저귀','맥주','계란'],
           ['우유','기저귀','맥주','콜라'],
           ['빵','우유','기저귀','맥주',],
           ['빵','우유','기저귀','콜라','삼겹살'],
           ['우유','계란','씨리얼'],
           ['우유','기저귀','콜라','맥주'],
           ['삼겹살','콜라','맥주'],
           ['빵','우유','기저귀','맥주','계란'],
           ['우유','빵'],
           ['우유','씨리얼']]

In [5]:
#TransactionEncoder는 리스트의 리스트로 구성된 트랜잭션 데이터를 numpy 배열로 인코딩 하기 위함 
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[False, False, False,  True, False,  True,  True, False],
       [ True,  True,  True,  True, False, False, False, False],
       [False,  True,  True, False, False, False,  True,  True],
       [False,  True,  True,  True, False, False,  True, False],
       [False,  True, False,  True,  True, False,  True,  True],
       [ True, False, False, False, False,  True,  True, False],
       [False,  True,  True, False, False, False,  True,  True],
       [False, False,  True, False,  True, False, False,  True],
       [ True,  True,  True,  True, False, False,  True, False],
       [False, False, False,  True, False, False,  True, False],
       [False, False, False, False, False,  True,  True, False]])

In [6]:
te.columns_ #array 위에 붙어 있을 칼럼이 된다, 해당하는 칼럼에 대해서는 T이거 나머지는 F

['계란', '기저귀', '맥주', '빵', '삼겹살', '씨리얼', '우유', '콜라']

In [9]:
df = pd.DataFrame(te_ary,columns=te.columns_)
df

       계란    기저귀     맥주      빵    삼겹살    씨리얼     우유     콜라
0   False  False  False   True  False   True   True  False
1    True   True   True   True  False  False  False  False
2   False   True   True  False  False  False   True   True
3   False   True   True   True  False  False   True  False
4   False   True  False   True   True  False   True   True
5    True  False  False  False  False   True   True  False
6   False   True   True  False  False  False   True   True
7   False  False   True  False   True  False  False   True
8    True   True   True   True  False  False   True  False
9   False  False  False   True  False  False   True  False
10  False  False  False  False  False   True   True  False

In [12]:
#지지도 확인
frequent_itemsets = apriori(df,min_support = 0.3, use_colnames = True) #지지도의 최저값 지정 min_support
frequent_itemsets
#지지도와 아이템 셋을 보여준다 0.5 이상인 값듦만 보여준다

     support       itemsets
0   0.545455          (기저귀)
1   0.545455           (맥주)
2   0.545455            (빵)
3   0.818182           (우유)
4   0.363636           (콜라)
5   0.454545      (맥주, 기저귀)
6   0.363636       (빵, 기저귀)
7   0.454545      (우유, 기저귀)
8   0.363636       (맥주, 우유)
9   0.454545        (빵, 우유)
10  0.363636  (맥주, 우유, 기저귀)

In [16]:
#지지도 내림차순으로 정렬
frequent_itemsets.sort_values('support',ascending=False)

     support       itemsets
3   0.818182           (우유)
0   0.545455          (기저귀)
1   0.545455           (맥주)
2   0.545455            (빵)
5   0.454545      (맥주, 기저귀)
7   0.454545      (우유, 기저귀)
9   0.454545        (빵, 우유)
4   0.363636           (콜라)
6   0.363636       (빵, 기저귀)
8   0.363636       (맥주, 우유)
10  0.363636  (맥주, 우유, 기저귀)

In [18]:
#신뢰도 확인 설정안하면 0.8부터 보여줌 
association_rules(frequent_itemsets, metric="confidence",min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(맥주),(기저귀),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
1,(기저귀),(맥주),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
2,(빵),(기저귀),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
3,(기저귀),(빵),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
4,(우유),(기저귀),0.818182,0.545455,0.454545,0.555556,1.018519,0.008264,1.022727
5,(기저귀),(우유),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
6,(맥주),(우유),0.545455,0.818182,0.363636,0.666667,0.814815,-0.082645,0.545455
7,(우유),(맥주),0.818182,0.545455,0.363636,0.444444,0.814815,-0.082645,0.818182
8,(빵),(우유),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
9,(우유),(빵),0.818182,0.545455,0.454545,0.555556,1.018519,0.008264,1.022727
10,"(맥주, 우유)",(기저귀),0.363636,0.545455,0.363636,1.000000,1.833333,0.165289,inf
11,"(맥주, 기저귀)",(우유),0.454545,0.818182,0.363636,0.800000,0.977778,-0.008264,0.909091
12,"(우유, 기저귀)",(맥주),0.454545,0.545455,0.363636,0.800000,1.466667,0.115702,2.272727
13,(맥주),"(우유, 기저귀)",0.545455,0.454545,0.363636,0.666667,1.466667,0.115702,1.636364
14,(우유),"(맥주, 기저귀)",0.818182,0.454545,0.363636,0.444444,0.977778,-0.008264,0.981818
15,(기저귀),"(맥주, 우유)",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091

In [21]:
#향상도 확인 1이상이여야지 의미가 있다
association_rules(frequent_itemsets,metric="lift",min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(맥주),(기저귀),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
1,(기저귀),(맥주),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
2,(빵),(기저귀),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
3,(기저귀),(빵),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
4,(우유),(기저귀),0.818182,0.545455,0.454545,0.555556,1.018519,0.008264,1.022727
5,(기저귀),(우유),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
6,(빵),(우유),0.545455,0.818182,0.454545,0.833333,1.018519,0.008264,1.090909
7,(우유),(빵),0.818182,0.545455,0.454545,0.555556,1.018519,0.008264,1.022727
8,"(맥주, 우유)",(기저귀),0.363636,0.545455,0.363636,1.000000,1.833333,0.165289,inf
9,"(우유, 기저귀)",(맥주),0.454545,0.545455,0.363636,0.800000,1.466667,0.115702,2.272727
10,(맥주),"(우유, 기저귀)",0.545455,0.454545,0.363636,0.666667,1.466667,0.115702,1.636364
11,(기저귀),"(맥주, 우유)",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091

In [24]:
df_assoc = association_rules(frequent_itemsets,metric="lift",min_threshold=1.2)
df_assoc.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,"(맥주, 우유)",(기저귀),0.363636,0.545455,0.363636,1.000000,1.833333,0.165289,inf
7,(기저귀),"(맥주, 우유)",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
0,(맥주),(기저귀),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
1,(기저귀),(맥주),0.545455,0.545455,0.454545,0.833333,1.527778,0.157025,2.727273
5,"(우유, 기저귀)",(맥주),0.454545,0.545455,0.363636,0.800000,1.466667,0.115702,2.272727
6,(맥주),"(우유, 기저귀)",0.545455,0.454545,0.363636,0.666667,1.466667,0.115702,1.636364
2,(빵),(기저귀),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
3,(기저귀),(빵),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636